*{
    --primary-color: #280905;
    --secondary-color:#740A03;
    --basic-color:#E6501B;

    --text-color:#F9F8F6;
    --link-color:#F9F8F6;
    --primary-font-size:16px;
    --primary-font-name:sans-serif;

    --primary-spacing-size:8px;

    --primary-border-radius:8px;
}
a{
    color: var(--link-color);
    text-decoration: none;
    
}
.nav_container,.section_services,.section_projects{
min-height: 100vh;
}
.section_about{
    margin-bottom: var(--primary-spacing-size);
}
p{
    font-size: calc(var(--primary-font-size)*1.5);
}
body{
    background-color: var(--primary-color);
    font-size: var(--primary-font-name);
    font-size: var(--primary-font-size);
    padding: calc(var(--primary-spacing-size)*2);
    color: var(--text-color);
    header{
        /* background: white; */
    }
    
    .nav_container{
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        nav{
            display: flex;
            justify-content:center;
            list-style-type: none;
            
            position: sticky;
            top: 0;
            width: 100%;
            a{
                display: inline-block;
                padding: var(--primary-spacing-size);
                padding-left: var(--primary-spacing-size);
                padding-right: var(--primary-spacing-size);
                background-color: var(--basic-color);
                /* border-radius: 5px; */
            }
          
        }
        .hero{
           display: grid;
           margin-top: var(--primary-spacing-size);
           
           grid-template-rows: 100px 2fr ;
           
            h1{
                grid-row: 1/2;
                text-align: center;
                text-transform: uppercase;
                /* height: auto; */
                font-size: calc(var(--primary-font-size)*2);
                letter-spacing: var(--primary-font-size);
            }
            div{
                grid-row: 2/3;
                display: grid;
                grid-template-rows: 1fr 100px;
                justify-content: space-between;

                align-self: end;
                
                p{
                    grid-row: 1;
                    
                }
                .hero_btn_container{
                    grid-row: 2/3;
                    margin-top: var(--primary-spacing-size);
                    display: inline-block;
                    
                    button{

                        background-color: var(--basic-color);
                        color: var(--link-color);
                        padding: var(--primary-spacing-size);
                        border-radius: var(--primary-border-radius);
                        display: inline-block;
                    }
                }
            }
            /* padding: var(--primary-spacing-size); */
        }
    }
}